.Contenedor {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1050px 1050px;
  grid-gap: 20px;
}

#columna {
  padding: 0px;
}

#parrafo {
  width: 70px;
  height: 0px;
  position: absolute;
  top: 580px;
  right: 970px;
}

#parrafo1 {
  width: 70px;
  height: 10px;
  position: absolute;
  top: 640px;
  right: 970px;
}

#parrafo2 {
  width: 70px;
  height: 20px;
  position: absolute;
  top: 700px;
  right: 970px;
}

#parrafo3 {
  width: 70px;
  height: 20px;
  position: absolute;
  top: 760px;
  right: 970px;
}

#fechas {
  width: 300px;
  height: 30px;
  padding: 10px;
  line-height: 20px;
  text-align: left;
  position: absolute;
  top: 590px;
  right: 600px;
}

#fechas1 {
  width: 300px;
  height: 30px;
  padding-top: 10px;
  padding: 10px;
  line-height: 20px;
  text-align: left;
  position: absolute;
  top: 650px;
  right: 600px;
}

#fechas2 {
  width: 300px;
  height: 60px;
  padding-top: 10px;
  padding: 10px;
  line-height: 20px;
  text-align: left;
  position: absolute;
  top: 710px;
  right: 600px;
}

#fechas3 {
  width: 300px;
  height: 50px;
  padding-top: 10px;
  padding: 10px;
  text-align: left;
  line-height: 20px;
  position: absolute;
  top: 770px;
  right: 600px;
}

#fechita {
  position: absolute;
  top: 860px;
  right: 1000px;
}

#asiste {
  width: 350px;
  height: 200px;
  text-align: left;
  position: absolute;
  top: 870px;
  right: 560px;
}
